# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors / OS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Env
.env
.env.local
